extends layouts/homeLayout

block content
  div(layout="column" class="full-height")
    div(layout="row" class="full-height")
      div(flex="20" class="full-height" layout-padding)
        h3(ng-init="getId('#{data._id}', '#{data.nombre}')") #{data.nombre}
        div(class="content-logout")
          i(class="fa fa-sign-out" aria-hidden="true")
          a(href="/salir/" ng-click="logout('#{data._id}')") Cerrar session Joker
          
      div(flex="80" class="full-height content-mapa")
        div(id="map" ng-init="initMap()" class="full-height")
  
  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
  script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places&key=AIzaSyCS1GTa3HUJAg3vLMmkt_AeNp9oR-uWDQk")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/home.js')
  
